{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <a href="{% url "blog:post_search" %}">
        <h3>search by keyword</h3>
    </a>
    <br>
    {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="text-center">
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </h3>
                <p class="text-center"><em>Published {{ post.publish }} by {{ post.author }}</em></p>
                {{ post.body|truncatewords:30|linebreaks }}
            </div>
        </div>
    {% endfor %}

    {% include "pagination.html" with page=posts %}
{% endblock %}